<div class="row">
  <div class="col s12">
    <h1>O Projeto</h1>
    <h5>O que é?</h5>
    <br>
    <h6>O projeto Vota Campinas nasceu com o objetivo de ajudar a população de Campinas a escolher os seus candidatos a vereador. </h6>
    <h6>Através de questões objetivas os eleitores podem verificar suas afinidades com os candidatos.</h6>
    <hr>
    <br>
    <h5>Realização</h5>
    <br>
    <h6>O projeto Vota Campinas foi desenvolvido por um grupo de programadores e programadoras independentes que utilizam tecnologia </h6>
    <h6>digital para a construção de um sociedade melhor. A organização Minha Campinas é a promotora do projeto.</h6>
    <hr>
    <br>
    <h5>Time do Projeto</h5>
    <br>
  </div>
  <div>
    <div class="col s6">
        <img src="http://votacampinas.kinghost.net/ver/danisoldera.jpg" height="100" width="100" alt="Victor Miguez"/>
    </div>
    <div class="col s6">
        <img src="http://votacampinas.kinghost.net/ver/victormiguez.jpg" height="100" width="100" alt="Victor Miguez"/>
    </div>
    <div class="col s6">
        <img src="http://votacampinas.kinghost.net/ver/victorperin.jpg" height="100" width="100" alt="Victor Miguez"/>
    </div>
    <div class="col s6">
        <img src="http://votacampinas.kinghost.net/ver/gabrielribeiro.jpg" height="100" width="100" alt="Victor Miguez"/>
    </div>
    <div class="col s6">
        <img src="http://votacampinas.kinghost.net/ver/laixuancheng.jpg" height="100" width="100" alt="Victor Miguez"/>
    </div>
    <div class="col s6">
        <img src="http://votacampinas.kinghost.net/ver/guilhermeluchesi.jpg" height="100" width="100" alt="Victor Miguez"/>
    </div>
  </div>
</div>
