<div class="container">
<div class="row">
  <div class="col s22">
    <h1>O Projeto</h1>
    <h5>O que é?</h5>
    <p>
        O projeto Vota Campinas nasceu com o objetivo de ajudar a população de Campinas a escolher os seus candidatos a vereador ou vereadora.
        <br>
        Através de questões objetivas os eleitores podem verificar suas afinidades com os candidatos.
    </p>
    <hr>
    <br>
    <h5>Realização</h5>
    <p>
        O projeto Vota Campinas foi desenvolvido por um grupo de programadores e programadoras independentes que utilizam tecnologia
        <br>
        para a construção de um sociedade melhor. A organização Minha Campinas é responsável por promovê-lo.
    </p>
    <hr>
    <br>
    <h5>Time de Desenvolvimento do Projeto</h5>
    <br>
  </div>
  <div class="container paddingRow time">
    <div class="row">
        <div class="col s2">
          <img  src="img/danisoldera.png" height="100" width="100" alt="Danielle Soldera"/>
          <p>Danielle Soldera<br />
		  <a href="https://twitter.com/danisoldera" target="_blank">@danisoldera</a></p>
        </div>
        <div class="col s2">
            <img  src="img/victormiguez.png" height="100" width="100" alt="Victor Miguez"/>
            <p>Victor Miguez</p>
        </div>
        <div class="col s2">
            <img  src="img/victorperin.png" height="100" width="100" alt="Victor Perin"/>
            <p>Victor Perin</p>
        </div>
        <div class="col s2">
            <img  src="img/gabrielribeiro.png" height="100" width="100" alt="Gabriel Ribeiro"/>
            <p>Gabriel Ribeiro</p>
        </div>
        <div class="col s2">
            <img  src="img/laixuancheng.png" height="100" width="100" alt="Lai Xuancheng"/>
            <p>Lai Xuancheng</p>
        </div>
        <div class="col s2">
            <img  src="img/guilhermeluchesi.png" height="100" width="100" alt="Guilherme Luchesi"/>
            <p>Guilherme Luchesi</p>
        </div>
      </div>
      <h5>Time da Organização Minha Campinas</h5>
      <div class="row">
        <div class="col s2">
            <img  src="img/bordignon.png" height="100" width="100" alt="André Bordignon"/>
            <p>André Bordignon</p>
        </div>
        <div class="col s2">
            <img  src="img/claudiaoliveira.png" height="100" width="100" alt="Claudia Oliveira"/>
            <p>Claudia Oliveira</p>
        </div>
        <div class="col s2">
            <img  src="img/eduardosilva.png" height="100" width="100" alt="Eduardo"/>
            <p>Eduardo Silva</p>
        </div>
        <div class="col s2">
            <img  src="img/elisamueller.png" height="100" width="100" alt="Elisa"/>
            <p>Elisa Mueller</p>
        </div>
        <div class="col s2">
            <img  src="img/helenawhyte.png" height="100" width="100" alt="Helena"/>
            <p>Helena Whyte</p>
        </div>
        <div class="col s2">
            <img  src="img/julianapatete.png" height="100" width="100" alt="Juliana"/>
            <p>Juliana Patete</p>
        </div>
        <div class="col s12">
            <img  src="img/marcelonisida.png" height="100" width="100" alt="Marcelo"/>
            <p>Marcelo Nisida</p>
        </div>
    </div>
  </div>
</div>
</div>