<div class="row">
  <div class="col s12">
      <h1>Questões</h1>
      <h2>Para você, quais são as principais prioridades para Campinas?</h2>
  </div>
  <div class="col s12">
    <form novalidate>
      <h3>Prioridade nível {{pagina}}</h3>
      <div ng-repeat="opcao in opcoes">
        <input ng-click="next()" ng-model="model.prioridade" name="prioridade" type="radio" value="{{opcao}}" id="prioridade-{{$index}}" />
        <label for="prioridade-{{$index}}">{{opcao}}</label>
      </div>

      <input ng-click="back()" ng-if="pagina !== 1" type="button" class="btn" style="margin-top: 30px;" value="Voltar">
    </form>
  </div>
</div>
