<div class="container-fluid fp">
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1>Como Funciona</h1>
        </div>
     </div>
     <div class="row paddingRowSmall">
        <div class="col s12 m6 l3 center-align">
            <img src="img/Fluxo-1.png" height="110px" alt="fluxo01"/>
            <p>Você responde um questionário de (no mínimo) 21 questões</p>
        </div>
        <div class="col s12 m6 l3 center-align">
            <img src="img/Fluxo-2.png" height="110px" alt="fluxo02"/>
            <p> Nós cruzamos as suas respostas com as das candidatas e candidatos cadastrados</p>
        </div>
        <div class="col s12 m6 l3 center-align">
            <img src="img/Fluxo-3.png" height="110px" alt="fluxo03"/>
            <p>Te informamos quem dos candidatos pensa mais parecido com você.</p>
        </div>
        <div class="col s12 m6 l3 center-align">
            <img src="img/Fluxo-4.png" height="110px" alt="fluxo04"/>
            <p>Você pode olhar as respostas e perfil de todas as candidatas e candidatos</p>
        </div>
    </div>
</div>
</div>