<div class="container questoes">
  <div class="row">
    <div class="col s12">
        <h1>Analise as afirmações</h1>
        <span>{{pagina + 3}} / {{perguntas.length + 3}}</span>
    </div>
    <div class="col s12">
      <div class="progress">
        <div
          class="determinate"
          style="width: {{((pagina + 3) / (perguntas.length + 3))*100}}%"
          ng-class="pagina < 18 ? 'red' : ''">
        </div>
      </div>
    </div>
    <div class="col s12">
      <form novalidate>
          <h4 class="center-align" ng-show="pagina === perguntas.length">Você finalizou as questões, muito obrigado! :)</h4>
          <p ng-show="pagina < perguntas.length">{{perguntas[pagina].pergunta}}</p>
          <ul class="form-questoes" ng-show="pagina < perguntas.length">
            <li>
              <input ng-click="next()" ng-model="perguntas[pagina].resposta" name="resposta-{{perguntas[pagina]}}" id="resposta-2-{{perguntas[pagina]}}" type="radio" value="2" ng-disabled="enviando"/>
              <label for="resposta-2-{{perguntas[pagina]}}">Concordo plenamente</label>
             </li>
             <li>
               <input ng-click="next()" ng-model="perguntas[pagina].resposta" name="resposta-{{perguntas[pagina]}}" id="resposta-4-{{perguntas[pagina]}}" type="radio" value="4" ng-disabled="enviando"/>
               <label for="resposta-4-{{perguntas[pagina]}}">Concordo</label>
             </li>
             <li>
                <input ng-click="next()" ng-model="perguntas[pagina].resposta" name="resposta-{{perguntas[pagina]}}" id="resposta-1-{{perguntas[pagina]}}" type="radio" value="1" ng-disabled="enviando"/>
                <label for="resposta-1-{{perguntas[pagina]}}">Discordo</label>
             </li>
             <li>
               <input ng-click="next()" ng-model="perguntas[pagina].resposta" name="resposta-{{perguntas[pagina]}}" id="resposta-3-{{perguntas[pagina]}}" type="radio" value="3" ng-disabled="enviando"/>
               <label for="resposta-3-{{perguntas[pagina]}}">Discordo plenamente</label>
             </li>
          </ul>

          <br>

          <div class="row" ng-show="currentUser.ehVereador && pagina !== perguntas.length">
            <div class="col s12">
              <label for="justificativa">Justificativa</label>
              <input id="justificativa" name="justificativa" type="text" data-ng-model="perguntas[pagina].justificativa" maxlength="255">
            </div>
          </div>
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="col s12 m4 l3">
                <input ng-click="back()" ng-show="pagina > 0" type="button" class="btn lg" value="Voltar">
              </div>

              <div class="col s12 m4 l3 right" ng-hide="">
                <a class="btn right"
                  ng-show="currentUser.ehVereador && pagina !== perguntas.length"
                  ng-click="nextVereador(perguntas[pagina].resposta)"
                  ng-disabled="!perguntas[pagina].resposta">
                  Próxima
                </a>
                <a class="btn pular tooltipped lg right"
                   data-position="left"
                   data-delay="30"
                   data-tooltip="{{pagina >= 18 ? 'Salvar resposta em branco' : 'Você só pode pular a partir da 18ª questão'}}"
                   href=""
                   ng-click="pular()"
                   ng-hide="(currentUser.ehVereador)">
                   * Pular
                </a>
                <a class="btn right lg finalizar"
                  ng-show="pagina === perguntas.length || pagina >= 18 && !currentUser.ehVereador"
                  href="/ranking">
                  Finalizar
                </a>
              </div>
            </div>
          </div>
          <div class="row">
          </div>
      </form>
    </div>
  </div>
</div>
