<div class="row">
  <div class="col s12">
      <h1>Analise as afirmações - {{pagina}} / {{perguntas.length}}</h1>
  </div>
  <div class="col s12">
    <div class="progress">
      <div
        class="determinate"
        style="width: {{(pagina / perguntas.length)*100}}%"
        ng-class="{red: pagina < perguntas.length}"
      ></div>
    </div>
  </div>
  <div class="col s12">
    <form novalidate>
        <p>{{perguntas[pagina].pergunta}}</p>
        <p ng-show="pagina === perguntas.length">{{perguntas[pagina - 1].pergunta}}</p>

        <ul class="form-questoes">
          <li>
            <input ng-click="next()" ng-model="perguntas[pagina].resposta" name="resposta-{{perguntas[pagina].id}}" id="resposta-2-{{perguntas[pagina].id}}" type="radio" value="2" ng-disabled="enviando"/>
            <label for="resposta-2-{{perguntas[pagina].id}}">Concordo plenamente</label>
           </li>
           <li>
             <input ng-click="next()" ng-model="perguntas[pagina].resposta" name="resposta-{{perguntas[pagina].id}}" id="resposta-4-{{perguntas[pagina].id}}" type="radio" value="4" ng-disabled="enviando"/>
             <label for="resposta-4-{{perguntas[pagina].id}}">Concordo</label>
           </li>
           <li>
              <input ng-click="next()" ng-model="perguntas[pagina].resposta" name="resposta-{{perguntas[pagina].id}}" id="resposta-1-{{perguntas[pagina].id}}" type="radio" value="1" ng-disabled="enviando"/>
              <label for="resposta-1-{{perguntas[pagina].id}}">Discordo</label>
           </li>
           <li>
             <input ng-click="next()" ng-model="perguntas[pagina].resposta" name="resposta-{{perguntas[pagina].id}}" id="resposta-3-{{perguntas[pagina].id}}" type="radio" value="3" ng-disabled="enviando"/>
             <label for="resposta-3-{{perguntas[pagina].id}}">Discordo plenamente</label>
           </li>
        </ul>
        <div class="row">
          <div class="col s6 m6 l6">
            <input ng-click="back()" ng-show="pagina > 0" type="button" class="btn" value="Voltar">
          </div>
          <div class="col s6 m6 l6">
            <a ng-show="pagina === perguntas.length" class="btn right" href="/ranking">Finalizar</a>
            <a class="red-text pular tooltipped" data-position="left" data-delay="30" data-tooltip="Você só pode pular a partir da 18ª questão" href="" disabled ng-hide="pagina === perguntas.length">* Pular</a>
          </div>
        </div>
    </form>
  </div>
</div>
