<div class="row">
  <div class="col s12">
    <h1>Ranking</h1>
  </div>
  <div class="col s12">
    Aqui estão os candidatos que combinam com suas escolhas
  </div>

  <div class="col s12">
    <ul class="collection">
      <li class="collection-item" data-ng-repeat="candidato in candidatos">
        <div class="row">
          <div class="col s12 m2 center-align">
            <img src="http://placehold.it/150x150" alt="" style="width: 100%;">
          </div>
          <div class="col s12 m10">
            <h4>{{candidato.nome}}</h4>
            <p>{{candidato.partido}} - Numero: {{candidato.numero}}</p>
            <p>Afinidade: {{candidato.pontuacao | pontuacaoFilter}}%</p>

          </div>

          <div class="col s12 offset-m9 m3">
            <button class="btn" style="width: 100%;">Ver Perfil</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>