<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Ranking</h1>
    </div>
    <div class="col s12">
      Aqui estão os candidatos que combinam com suas escolhas <br>
      (Caso os candidat@s não apareçam aguarde alguns minutos ou tecle shift+f5)
    </div>

    <div class="col s12">
      <ul class="collection">
        <li class="collection-item" data-ng-repeat="candidato in candidatos | orderBy: '-pontuacao'">
          <div class="row">
            <div class="col s12 m2 center-align">
              <img src="{{candidato.foto ? candidato.foto : 'img/avatar.jpg'}}" alt="" style="width: 100%;">
            </div>
            <div class="col s12 m10">
              <h4>{{candidato.nome | capitalize}}</h4>
              <div class="col s12 m8">
                <p>
                  <!--<strong title={{candidato.partido.nome}}>{{candidato.partido.sigla}}</strong> -->
                   Numero: <strong>{{candidato.numero}}</strong>
                 </p>
                <p>Afinidade: {{candidato.pontuacao | pontuacaoFilter}}%</p>
              </div>

              <div class="col s12 m4">
                <a data-ng-href="/perfil/{{candidato.id}}" class="btn rank">Ver Perfil</a>
              </div>
            </div>

            <div class="col s12 offset-m9 m3">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
