<div class="loading-bar-container"></div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Ranking</h1>
    </div>
    <div class="col s9">
      Aqui estão os candidatos que combinam com suas escolhas <br>
      (Caso os candidat@s não apareçam aguarde alguns minutos ou tecle shift+f5)
    </div>
    <div class="col s3 right-align">
      <div class="fb-share-button" data-href="http://votacampinas.org.br" data-layout="button" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvotacampinas.org.br%2F&amp;src=sdkpreparse">Compartilhar</a>
      </div>
      <a class="twitter-share-button" id="twitter-wjs"  href="https://twitter.com/intent/tweet?text=Descobri%20qual%20candidat@%20tem%20maior%20afinidade%20comigo.%20Descubra%20voc%C3%AA%20tamb%C3%A9m%20pelo%20%23VotaCampinas%20http://votacampinas.org.br">
        <i class="bird"></i> Tweet</a>
    </div>

    <div class="col s12">
      <ul class="collection">
        <li class="collection-item" data-ng-repeat="candidato in candidatos | orderBy: '-pontuacao'">
          <div class="row">
            <div class="col s12 m2 center-align">
              <img src="{{candidato.foto ? candidato.foto : 'img/avatar.jpg'}}" alt="" style="width: 100%;">
            </div>
            <div class="col s12 m10">
              <h4>{{candidato.nome}}</h4>
              <div class="col s12 m8">
                <p>
                   Numero: <strong>{{candidato.numero}}</strong>
                 </p>
                <p>Afinidade: {{candidato.pontuacao | pontuacaoFilter}}%</p>
              </div>

              <div class="col s12 m4">
                <a data-ng-href="/candidato/{{candidato.id}}" class="btn rank">Ver Perfil</a>
              </div>
            </div>

            <div class="col s12 offset-m9 m3">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
