html, body {
  position: relative;
  height: 100%; }

ul, ol {
  list-style: none; }

a:hover {
  text-decoration: underline; }

label {
  display: block;
  line-height: 1.8; }

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
  margin: 0 5px; }

form button[type="submit"] {
  margin-top: 1em; }

.list-inline {
  display: inline-block;
  padding-left: 0;
  list-style: none; }

.list-inline > li {
  display: inline-block;
  padding: 0 5px; }

.container {
  padding-right: 2rem;
  padding-left: 2rem; }

.text-success {
  color: #29b35b; }

.text-danger {
  color: #b61b17; }

.text-info {
  color: #31708f; }

.avatar {
  margin-right: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle; }

input.invalid + label,
input.invalid + label:focus {
  color: #F44336 !important; }

footer {
  display: block;
  height: 105px;
  padding: 0 30px 5px;
  width: 100%;
  position: relative;
  top: 10px;
  z-index: 2; }
  footer .row {
    margin-bottom: 0;
    right: 0 !important; }
    footer .row .col {
      text-align: center; }
  footer span {
    float: left;
    color: #fff;
    margin: 30px 15px 0 0; }
  footer .brand-logo {
    float: left; }

.footer-links {
  margin: 10px auto;
  width: auto;
  display: block;
  float: right; }
  .footer-links .container {
    padding: 0; }
  .footer-links li {
    display: inline-block; }
  .footer-links li a {
    float: left;
    padding: 0 10px; }
  .footer-links li a {
    position: relative;
    width: 50px;
    height: 28.87px;
    background-color: transparent;
    margin: 14.43px 5px;
    border-left: solid 2px #fff;
    border-right: solid 2px #fff;
    float: left;
    padding: 0 10px; }
  .footer-links li a:before,
  .footer-links li a:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 35.36px;
    height: 35.36px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 5.3223px; }
  .footer-links li a:before {
    top: -17.6777px;
    border-top: solid 2.8284px #fff;
    border-right: solid 2.8284px #fff; }
  .footer-links li a:after {
    bottom: -17.6777px;
    border-bottom: solid 2.8284px #fff;
    border-left: solid 2.8284px #fff; }

@media only screen and (max-width: 770px) {
  footer {
    height: 180px; }
    footer span {
      display: none; }
    footer ul {
      top: 15px;
      left: 10px; }
    footer .brand-logo {
      float: none; }
    footer .footer-links {
      float: none;
      width: 100%; }
    footer .row {
      margin-bottom: 0;
      position: relative;
      right: 10px; } }

.pular {
  float: right; }

.home {
  height: 100%; }
  .home h2 {
    margin-top: 0; }
  .home .col {
    padding: 0; }
  .home .row {
    margin: 0;
    width: 100%;
    height: 100%; }
  .home .bg {
    background-image: url("../img/home-bg.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15% 0;
    height: 100%; }

main, .bg {
  height: 90%; }

.page-content {
  height: 100%; }
  .page-content:after {
    display: none; }

@media only screen and (max-width: 600px) {
  .home .bg {
    padding: 50% 0; }
  .home h2 {
    font-size: 2em; }
  .home h5 {
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 0 10px; } }

.opcoes {
  position: relative;
  min-height: 250px; }
