html, body {
  position: relative;
  font-family: 'Quicksand', sans-serif; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

ul, ol {
  list-style: none; }

a:hover {
  text-decoration: underline; }

label {
  display: block;
  line-height: 1.8; }

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
  margin: 0 5px; }

form button[type="submit"] {
  margin-top: 1em; }

.list-inline {
  display: inline-block;
  padding-left: 0;
  list-style: none; }

.list-inline > li {
  display: inline-block;
  padding: 0 5px; }

.container {
  padding-right: 2rem;
  padding-left: 2rem; }

.text-success {
  color: #29b35b; }

.text-danger {
  color: #b61b17; }

.text-info {
  color: #31708f; }

.avatar {
  margin-right: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle; }

input.invalid + label,
input.invalid + label:focus {
  color: #F44336 !important; }

object {
  position: absolute; }

.paddingRow {
  margin-bottom: 120px; }

.time div {
  text-align: center; }
  .time div.left-align {
    margin: 0 !important; }

@media only screen and (max-width: 770px) {
  .time {
    padding: 0; }
    .time .col {
      width: 50% !important; } }

nav ul a:hover {
  text-decoration: none; }

footer {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 105px;
  padding: 0 30px 5px; }
  footer .row {
    right: 0 !important;
    margin-bottom: 0; }
    footer .row .col {
      text-align: center; }
  footer span {
    float: left;
    margin: 30px 15px 0 0;
    color: #fff; }
  footer .brand-logo {
    float: left; }

.footer-links {
  display: block;
  float: right;
  width: auto;
  margin: 10px auto; }
  .footer-links .container {
    padding: 0; }
  .footer-links li {
    display: inline-block; }
  .footer-links li a {
    float: left;
    padding: 0 10px; }
  .footer-links li a {
    position: relative;
    float: left;
    width: 50px;
    height: 28.87px;
    margin: 14.43px 5px;
    padding: 0 10px;
    border-right: solid 2px #fff;
    border-left: solid 2px #fff;
    background-color: transparent; }
  .footer-links li a:before,
  .footer-links li a:after {
    position: absolute;
    z-index: 1;
    left: 5.3223px;
    width: 35.36px;
    height: 35.36px;
    content: '';
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit; }
  .footer-links li a:before {
    top: -17.6777px;
    border-top: solid 2.8284px #fff;
    border-right: solid 2.8284px #fff; }
  .footer-links li a:after {
    bottom: -17.6777px;
    border-bottom: solid 2.8284px #fff;
    border-left: solid 2.8284px #fff; }

.disclaimer span {
  font-size: 10px;
  line-height: 11px;
  position: relative;
  top: 10px;
  display: block;
  margin-top: 4px; }

@media only screen and (max-width: 770px) {
  footer {
    height: 280px; }
    footer span {
      display: none; }
    footer ul {
      top: 15px;
      left: 10px; }
    footer .brand-logo {
      float: none; }
    footer .footer-links {
      float: none;
      width: 100%; }
    footer .row {
      position: relative;
      right: 10px;
      margin-bottom: 0; }
    footer .disclaimer {
      width: 100%;
      margin-bottom: 20px;
      padding: 0; }
      footer .disclaimer span {
        margin: 0; }
    footer .container {
      width: 100%;
      padding: 0; } }

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  footer {
    height: 130px; }
    footer span {
      font-size: 8px !important;
      top: 0 !important;
      left: 5px; }
    footer .col {
      margin-left: 0; } }

.pular {
  float: right;
  width: 100%; }

.lg {
  width: 100%; }

.finalizar {
  background-color: #67546d; }
  .finalizar:hover {
    background-color: #866f8c; }

.questoes {
  margin-top: 20px; }
  .questoes h1 {
    font-size: 1.5em;
    display: inline-block; }
  .questoes span {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 3px 8px;
    border-radius: 2px;
    box-shadow: 1px 2px 6px #ccc; }

@media only screen and (max-width: 600px) {
  .questoes span {
    margin-left: 0;
    margin-bottom: 20px; }
  .questoes .pular {
    margin-top: 20px; }
  .material-tooltip {
    margin-left: 20px !important;
    font-size: 12px; } }

.home {
  height: 100%; }
  .home h2 {
    margin-top: 0; }
  .home .col {
    padding: 0; }
  .home .row {
    margin: 0;
    width: 100%;
    height: 100%; }
  .home .bg {
    background-image: url("../img/home-bg.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 0;
    height: 100%; }

@media only screen and (max-width: 420px) {
  .home .bg {
    padding: 5% 0; }
  .home h2 {
    font-size: 2em; }
  .home h5 {
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 0 10px; } }

@media only screen and (min-width: 421px) and (max-width: 740px) {
  .home .bg {
    padding: 5% 0 24%; }
  .home h2 {
    margin-top: 0;
    font-size: 2em; }
  .home h5 {
    font-size: 1.2em;
    padding: 0 15%; } }

@media only screen and (min-width: 741px) and (max-width: 800px) {
  .home .bg {
    padding: 5% 0;
    height: 100%; } }

.prioridades h1 {
  font-size: 2.5em;
  margin-top: 1.5em; }

.prioridades h2 {
  font-size: 2em; }

.prioridades h3 {
  font-size: 1.8em; }

.prioridades label {
  color: #484848; }

.prioridades #opcoes {
  margin-bottom: 100px; }

.prioridades .opcoes {
  position: relative;
  min-height: 190px;
  margin-bottom: 40px; }

.prioridades .priori-btn {
  margin-top: 20px; }

@media only screen and (max-width: 770px) {
  .prioridades {
    padding: 0 1.5em;
    height: 530px; }
    .prioridades h1 {
      font-size: 1.5em; }
    .prioridades h2 {
      font-size: 1.5em;
      margin-bottom: 5px; }
    .prioridades h3 {
      font-size: 1.5em; }
    .prioridades .opcoes {
      margin-bottom: 20px; }
    .prioridades .opt-btn .col {
      padding: 0; }
    .prioridades .opt-btn input {
      width: 100%;
      margin-bottom: 20px; } }

.comofunciona {
  height: 100%; }
  .comofunciona h2 {
    margin-top: 0; }
  .comofunciona .col {
    padding: 0; }
  .comofunciona .row {
    margin: 0;
    width: 100%;
    height: 100%; }

.fp {
  background-image: url("../img/fundopadrao.png");
  color: white;
  background-size: cover;
  height: 100%;
  padding: 4% 0 10% 0 !important; }
  .fp .col {
    margin: 2% 0; }

@media only screen and (max-width: 600px) {
  .paddingRowSmall {
    margin-bottom: 100px; } }

.collection {
  margin-top: 30px; }

.collection-item {
  padding: 20px 20px 10px !important; }
  .collection-item .row {
    margin-bottom: 0; }

.btn.rank {
  width: 100%;
  margin-top: 35px; }

.perfil-candidato .btn {
  margin: 40px 0 50px; }

.twitter-share-button {
  background-color: #039be5;
  color: white;
  padding: 3px 7px 3px 4px;
  border-radius: 4px;
  font-family: arial;
  font-size: 13px; }
  .twitter-share-button .bird {
    background-image: url("../img/twitter-bird.png");
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 100%;
    position: relative;
    top: 5px; }
  .twitter-share-button:hover {
    text-decoration: none; }

.perfil-candidato .desenvolvimento {
  font-size: 18px;
  margin: -10px 0 20px 0; }

.perfil-candidato .foto-candidato img {
  width: 100%;
  max-width: 180px; }

@media only screen and (max-width: 770px) {
  .card-panel {
    padding: 0; }
  .card .card-content .card-title.nome-candidato {
    font-size: 20px;
    line-height: 20px; }
  .foto-candidato {
    text-align: center;
    padding: 0;
    margin-bottom: 20px; }
    .foto-candidato img {
      max-width: auto; } }
