<div class="container prioridades">
  <div class="row">
    <hgroup class="col s12">
        <h1>Questões</h1>
        <h2>Para você, quais são as principais prioridades para Campinas?</h2>
    </hgroup>
    <div class="col s12">
      <form id="opcoes" style="min-height: 320px;" novalidate>
        <div class="opcoes">
          <h3>Prioridade nível {{pagina}}</h3>
          <div ng-if="opcoes" ng-repeat="opcao in opcoes | orderBy: 'prioridade'">
            <input ng-click="next()" ng-disabled="enviando" ng-model="model.prioridade" name="prioridade" type="radio" value="{{opcao.id}}" id="prioridade-{{$index}}" />
            <label for="prioridade-{{$index}}">{{opcao.prioridade}}</label>
          </div>
        </div>
        <div class="opt-btn">
          <input ng-click="back()" ng-if="pagina !== 1 && pagina < 4" type="button" class="btn" style="margin-top: 30px;" value="Voltar">
          <input ng-click="next()" ng-if="returned" type="button" class="btn" style="margin-top: 30px;" value="Próxima">
          <input ng-click="submit()" ng-show="submitOk" type="button" class="btn" style="margin-top: 30px;" value="Enviar">
        </div>
      </form>
    </div>
  </div>
</div>
