<div class="container questoes">
  <div class="row">
    <div class="col s12">
        <h1>Para você, quais são as 3 principais prioridades para Campinas em ordem de importância? </h1>
        <span>{{respostas.length}} / {{41 + 3}}</span>
    </div>
    <div class="col s12 prioridades">
      <form id="opcoes" novalidate>
        <div class="col s12">
        <div class="progress">
          <div
            class="determinate red"
            style="width: {{(respostas.length / 45)*100}}%">
          </div>
        </div>
      </div>
        <div class="opcoes">
          <h3>Prioridade {{pagina}}</h3>
          <div ng-if="opcoes" ng-repeat="opcao in opcoes | orderBy: 'prioridade'">
            <input ng-click="next()" ng-disabled="enviando" ng-model="model.prioridade" name="prioridade" type="radio" value="{{opcao.id}}" id="prioridade-{{$index}}" />
            <label for="prioridade-{{$index}}">{{opcao.prioridade}}</label>
          </div>
        </div>
        <div class="opt-btn">
          <div class="col s12 l8">
            <div class="col s12 m6 l6">
              <input ng-click="back()" ng-if="pagina !== 1 && pagina < 4" type="button" class="btn" value="Voltar">
            </div>
            <div class="col s12 m6 l6">
              <input ng-click="next()" ng-if="returned" type="button" class="btn right" value="Próxima">
              <input ng-click="submit()" ng-show="submitOk" type="button" class="btn right finalizar" value="Enviar">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
