<div class="row">
  <div class="col s12">
      <h1>Questões</h1>
      <h2>Para você, quais são as principais prioridades para Campinas?</h2>
  </div>
  <div class="col s12">
    <form novalidate>
      <div>
        <input name="prioridade" type="radio" id="prioridade-1" />
        <label for="prioridade-1">Prioridade 1</label>
      </div>

      <div>
        <input name="prioridade" type="radio" id="prioridade-2" />
        <label for="prioridade-2">Prioridade 2</label>
      </div>

      <div>
        <input name="prioridade" type="radio" id="prioridade-3" />
        <label for="prioridade-3">Prioridade 3</label>
      </div>

      <div>
        <input name="prioridade" type="radio" id="prioridade-4" />
        <label for="prioridade-4">Prioridade 4</label>
      </div>
    </form>
  </div>
</div>