<div class="container">
  <div class="row">
    <div class="col l8 s12">
      <p class="white-text"><strong>Vota Campinas</strong> é uma plataforma livre e não se responsabiliza pelas informações fornecidas pelos candidatos, bem como a prestação de contas do mesmo.</p>
			<p class="white-text">Este projeto é distribuido sob a licença <a href="https://github.com/Minhacps/VotaCampinas" target="_blank">Affero General Public License</a>.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col l6 m6 s12">
			<p class="white-text">© 2016 Vota Campinas</p>
		</div>
		<div class="col l6 m6 s12">
			<ul class="footer-links">
				<li class="white-text">Siga-nos</li>
				<li><a href="https://www.facebook.com/minhacampinas/" target="_blank"><i class="white-text fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
				<li><a href="https://twitter.com/minhacampinas" target="_blank"><i class="white-text fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UCRMS35ZIph6mLTtt9Hbzb7A" target="_blank"><i class="white-text fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
</div>
