<div class="flex-footer">
  <a href="http://minhacampinas.org.br" class="brand-logo footer-item" target="_blank">
    <img src="img/logomc.png" alt="Logotipo Minha Campinas">
  </a>
  
  <a href="http://doe.minhacampinas.org.br" class="waves-effect btn btn-doe footer-item">
    <strong>Doe agora!</strong>
  </a>

  <span class="disclaimer footer-item">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licença Creative Commons" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />Este trabalho está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons - Atribuição-NãoComercial-CompartilhaIgual 4.0 Internacional</a>.
  </span>
  
  <div class="footer-item">
    <a href="https://www.facebook.com/minhacampinas/" target="_blank" class="social-link"><i class="white-text fa fa-facebook fa-2x" aria-hidden="true"></i></a>
    <a href="https://twitter.com/minhacampinas" target="_blank" class="social-link"><i class="white-text fa fa-twitter fa-2x" aria-hidden="true"></i></a>
  </div>
</div>