<div class="container">
  	<div class="row">

    	<div class="col m4 s12 l3">
		    <a href="http://minhacampinas.org.br" class="brand-logo" style="height: 100%;" target="_blank">
		        <img src="img/logomc.png" alt="Logotipo Minha Campinas">
		    </a>
		</div>

		<div class="col m5 l7 disclaimer">
			<span>
				Vota Campinas é uma plataforma aberta e baseada em software livre. Seus realizadores não se responsabilizam pelas informações fornecidas pelos candidatos, nem pelo comportamento dos mesmos durante o período eleitoral, e se eleitos, durante seus respectivos mandatos. Este projeto é distribuído sob a licença Affero General Public License.
			</span>
		</div>

		<div class="col s12 m3 l2">
			<ul class="footer-links">
				<li><a href="https://www.facebook.com/minhacampinas/" target="_blank"><i class="white-text fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
				<li><a href="https://twitter.com/minhacampinas" target="_blank"><i class="white-text fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
				<!-- <li><a href="https://www.youtube.com/channel/UCRMS35ZIph6mLTtt9Hbzb7A" target="_blank"><i class="white-text fa fa-youtube fa-2x" aria-hidden="true"></i></a></li> -->
			</ul>
		</div>
  	</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77399150-4', 'auto');
  ga('send', 'pageview');
</script>
