<div class="container">
  <div ng-if="messages.error" role="alert" class="text-danger">
    <div ng-repeat="error in messages.error">{{error.msg}}</div>
  </div>
  <div ng-if="messages.success" role="alert" class="text-success">
    <div ng-repeat="success in messages.success">{{success.msg}}</div>
  </div>
  <form ng-submit="forgotPassword()">
    <h4>Esqueci minha senha</h4>
    <p>Digite seu email abaixo e nós lhe enviaremos instruções de redefinição de senha.</p>
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" placeholder="E-mail" ng-model="user.email" autofocus>
  </form>
  <div class="row">
    <div class="col s12 m4 l3 right">
      <button type="submit" class="btn lg finalizar">Recuperar senha</button>
    </div>
  </div>
</div>
