<nav class="page-header darken-4" ng-controller="HeaderCtrl">
  <div class="nav-wrapper container">
      <a href="/" class="brand-logo" style="height: 100%;">
        <img src="img/logo.png" alt="" style="height: 100%;">
      </a>
      <a href="#" class="button-collapse" data-activates="mobile-demo" data-sidenav="left" data-menuwidth="500" data-closeonclick="false"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li ng-class="{ active: isActive('/projeto')}"><a href="/projeto" ng-click="closeNav()">O Projeto</a></li>
        <li ng-class="{ active: isActive('/como-funciona')}"><a href="/como-funciona" ng-click="closeNav()">Como funciona</a></li>
        <li ng-class="{ active: isActive('/login')}" ng-if="!isAuthenticated()"><a href="/login">Entrar</a></li>
        <li ng-class="{ active: isActive('/cadastro')}" ng-if="!isAuthenticated()"><a href="/cadastro">Cadastre-se</a></li>
        <li ng-class="{ active: isActive('/account')}" ng-if="isAuthenticated()"><a href="/account">Meu perfil</a></li>
        <li ng-class="{ active: isActive('/perguntas')}" ng-if="isAuthenticated()"><a href="/perguntas">Questões</a></li>
        <li ng-if="isAuthenticated()"><a href="#" ng-click="logout()">Sair</a></li>
      </ul>
       <ul class="side-nav" id="mobile-demo">
        <li ng-class="{ active: isActive('/projeto')}"><a href="/projeto" ng-click="closeNav()">O Projeto</a></li>
        <li ng-class="{ active: isActive('/como-funciona')}"><a href="/como-funciona" ng-click="closeNav()">Como funciona</a></li>
        <li ng-class="{ active: isActive('/login')}" ng-if="!isAuthenticated()"><a href="/login" ng-click="closeNav()">Entrar</a></li>
        <li ng-class="{ active: isActive('/cadastro')}" ng-if="!isAuthenticated()"><a href="/cadastro" ng-click="closeNav()">Cadastre-se</a></li>
        <li ng-class="{ active: isActive('/account')}" ng-if="isAuthenticated()"><a href="/account" ng-click="closeNav()">Meu Perfil</a></li>
        <li ng-class="{ active: isActive('/perguntas')}" ng-if="isAuthenticated()"><a href="/perguntas" ng-click="closeNav()">Questões</a></li>
        <li ng-if="isAuthenticated()"><a href="#" ng-click="logout()">Sair</a></li>
       </ul>
  </div>
  <div class="col s10"></div>
</nav>
