<div class="container paddingRow">
  <div ng-if="messages.error" role="alert" class="text-danger">
    <div ng-repeat="error in messages.error">{{error.msg}}</div>
  </div>
  <div ng-if="messages.success" role="alert" class="text-success">
    <div ng-repeat="success in messages.success">{{success.msg}}</div>
  </div>

  <h4>Meu perfil</h4>

  <form ng-submit="updateProfile()">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" ng-model="profile.email">

    <label for="name">Nome</label>
    <input type="text" name="name" id="name" ng-model="profile.name">

    <button class="btn waves-effect waves-light" type="submit" name="action">Atualizar perfil
      <i class="material-icons right">send</i>
    </button>
  </form>

  <br>
  <hr>

  <h4>Alterar senha</h4>

  <form ng-submit="changePassword()">
    <div>
      <label for="password">Nova senha</label>
      <input type="password" name="password" id="password" ng-model="profile.password">
    </div>
    <div>
      <label for="confirm">Confirme sua senha</label>
      <input type="password" name="confirm" id="confirm" ng-model="profile.confirm">
    </div>
    <br>

    <button class="btn waves-effect waves-light" type="submit" name="action">Atualizar senha
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
