<div class="container">
  <div ng-if="messages.error" role="alert" class="text-danger">
    <div ng-repeat="error in messages.error">{{error.msg}}</div>
  </div>
  <div ng-if="messages.success" role="alert" class="text-success">
    <div ng-repeat="success in messages.success">{{success.msg}}</div>
  </div>

  <h4>Troca de senha</h4>

  <form ng-submit="resetPassword()">
    <label for="password">Nova senha</label>
    <input type="password" name="password" id="password" placeholder="Nova senha" ng-model="user.password" autofocus>
    <label for="confirm">Confirme sua nova senha</label>
    <input type="password" name="confirm" id="confirm" placeholder="Confirmar senha" ng-model="user.confirm">
  </form>
  <div class="row">
    <div class="col s12 m4 l3 right">
      <button type="submit" class="btn lg finalizar">Trocar senha</button>
    </div>
  </div>
</div>
