<div class="container">
  <div class="row">
    <div class="col s12">
        <h1>Cadastro</h1>
    </div>


    <div ng-if="messages.error" role="alert" class="text-danger col s12">
      <p class="center-align" ng-repeat="error in messages.error">{{error.msg}}</p>
    </div>

    <div class="col s12">
      <form name="cadastro" ng-submit="enviar()">
        <div class="dados-pessoais">
          <!--<h4>Pessoais</h4>-->
          <div class="row">
            <div class="input-field col s12">
              <input id="nome" type="text" name="name" data-ng-model="user.name" ng-required="required" autofocus>
              <label for="nome">Nome</label>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <input type="checkbox" id="sou-candidato" data-ng-model="user.ehVereador"/>
              <label for="sou-candidato">Sou Candidato</label>
            </div>
          </div>

          <div class="exclusivo-candidato" data-ng-show="user.ehVereador">
            <div class="row">
              <div class="input-field col s6">
                <select class="browser-default" data-ng-model="user.vereador.partidoId" data-ng-options="partido.id as partido.sigla for partido in partidos" required>
                  <option value="">Selecione um partido</option>
                </select>
              </div>
              <div class="input-field col s6">
                <input id="vereador-numero" type="number" class="validate" data-ng-model="user.vereador.numero" ng-required="user.ehVereador">
                <label for="vereador-numero">Número do candidato(a)</label>
              </div>
            </div>

             <div class="row">
               <div class="input-field col s12">
                 <input id="cnpj" type="text" class="validate" data-ng-model="user.vereador.cnpj" ng-required="user.ehVereador" ng-minlength="18">
                 <label for="cnpj">CNPJ</label>
               </div>
             </div>

             <div class="row">
              <div class="input-field col s12">
                <textarea id="descricao" class="materialize-textarea" length="120" data-ng-model="user.vereador.descricao" ng-required="user.ehVereador"></textarea>
                <label for="descricao">Descrição - Esta será a descrição do seu perfil para o eleitor</label>
              </div>
            </div>
          </div>
        </div>

        <div class="dados-conta">
          <!--<h4>Conta</h4>-->

          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" data-ng-model="user.email" ng-required="required">
              <label for="email">E-mail</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="senha" type="password" class="validate" data-ng-model="user.password" ng-required="required">
              <label for="senha">Senha</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="confirme-senha" type="password" class="validate" data-ng-model="user.passwordConfirm" ng-required="required">
              <label for="confirme-senha">Confirme sua Senha</label>
              <span class="pink-text text-darken-2" data-ng-show="user.password !== user.passwordConfirm">As senhas não coincidem</span>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <input type="checkbox" id="emails-minha-campinas" data-ng-model="user.aceitaEmailsMobilizacao" />
              <label for="emails-minha-campinas">Você gostaria de receber e-mails de mobilização da Minha Campinas?</label>
            </div>
          </div>

        </div>

        <a href="/login">Voltar</a>
        <button class="btn right waves-effect waves-light" type="submit" name="action" data-ng-disabled="cadastro.$invalid">Cadastrar
            <i class="material-icons right">send</i>
        </button>


      </form>
    </div>
    <div class="row">
      <div class="col s12">
        <h1>Se o sistema não avançar aguarde alguns minutos e
          tente se logar com o e-mail e senha que cadastrou.</h1>
      </div
    </div>
  </div>
</div>
