<div class="row">
  <div class="col s12">
      <h1>Cadastro</h1>
  </div>

  <div class="col s12">
    <form name="cadastro" ng-submit="enviar()">
      <div class="dados-pessoais">
        <h4>Pessoais</h4>
        <div class="row">
          <div class="input-field col s12">
            <input id="nome" type="text" name="name" data-ng-model="user.name" ng-required="required">
            <label for="nome">Nome</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="data-nascimento" type="text" class="validate" data-ng-model="user.birthDate" ng-required="required">
            <label for="data-nascimento">Data de Nascimento</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select id="sexo" data-ng-model="user.gender">
              <option value="" selected>Selecione</option>
              <option value="F">Feminino</option>
              <option value="M">Masculino</option>
            </select>
             <label>Sexo</label>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <input type="checkbox" id="sou-candidato" data-ng-model="user.ehVereador"/>
            <label for="sou-candidato">Sou Candidato</label>
          </div>
        </div>

        <div class="exclusivo-candidato" data-ng-show="user.ehVereador">
          <div class="row">
            <div class="input-field col s6">
              <input id="cod-j-e" type="text" class="validate" data-ng-model="user.vereador.partido" maxlength="5" ng-required="user.ehVereador">
              <label for="cod-j-e">Partido</label>
            </div>
            <div class="input-field col s6">
              <input id="cod-j-e" type="number" class="validate" data-ng-model="user.vereador.numero" ng-required="user.ehVereador">
              <label for="cod-j-e">Número</label>
            </div>
          </div>

           <div class="row">
             <div class="input-field col s12">
               <input id="cod-j-e" type="number" class="validate" data-ng-model="user.vereador.codigoJusticaEleitoral" ng-required="user.ehVereador">
               <label for="cod-j-e">Cod. Justiça Eleitoral</label>
             </div>
           </div>

           <div class="row">
            <div class="input-field col s12">
              <textarea id="descricao" class="materialize-textarea" length="120" data-ng-model="user.vereador.descricao" ng-required="user.ehVereador"></textarea>
              <label for="descricao">Descrição</label>
            </div>
          </div>
        </div>
      </div>

      <div class="dados-conta">
        <h4>Conta</h4>

        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" data-ng-model="user.email" ng-required="required">
            <label for="email">E-mail</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="senha" type="password" class="validate" data-ng-model="user.password" ng-required="required">
            <label for="senha">Senha</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="confirme-senha" type="password" class="validate" data-ng-model="user.passwordConfirm" ng-required="required">
            <label for="confirme-senha">Confirme sua Senha</label>
            <span class="pink-text text-darken-2" data-ng-show="user.password !== user.passwordConfirm">As senhas não coincidem</span>
          </div>
        </div>

      </div>

      <a href="/login">Voltar</a>
      <button class="btn right waves-effect waves-light" type="submit" name="action" data-ng-disabled="cadastro.$valid">Cadastrar
          <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
