<div class="container-fluid home">
<div class="row">
	<div class="col s12 center-align">
        <div class="bg">
            <h2>Você já sabe em quem votar para vereador?</h2>
            <h5>Que tal comparar sua ideias com as dos candidatos e candidatas para verificar quais são parecidas.</h5>
            <h5>É isso que o Vota Campinas faz!</h5>
            <br />
            <p><a href="/prioridades" class="waves-effect waves-light btn">Iniciar</a></p>
        </div>
	</div>
</div>
    <div class="row fp">
        <div class="row">
            <div class="col s12 center-align">
                <h1>Fluxo do Sistema</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s2 center-align">
            </div>
            <div class="col s2 center-align">
                <img src="img/Fluxo-1.png" height="150px" alt="fluxo01"/>
                <h5> bla bla bla</h5>
            </div>
            <div class="col s2 center-align">
                <img src="img/Fluxo-2.png" height="150px" alt="fluxo02"/>
                <p> bla bla bla</p>
            </div>
            <div class="col s2 center-align">
                <img src="img/Fluxo-3.png" height="150px" alt="fluxo03"/>
                <p> bla bla bla</p>
            </div>
            <div class="col s2  center-align">
                <img src="img/Fluxo-4.png" height="150px" alt="fluxo04"/>
                <p> bla bla bla</p>
            </div>
            <div class="col s2 center-align">
            </div>
        </div>
    </div>
</div>
    