<div class="container-fluid home">
<div class="row">
	<div class="col s12 center-align">
        <div class="bg">
            <img src="img/logohexagono.png" width="20%"/>
            <h2>Você já sabe em quem votar para vereador(a)?</h2>
            
            <h5>Compare suas ideias com as das candidatas e candidatos a vereador(a). </h5>
            <h5 style="color:#feb557; padding: 3%;"><strong>Encontre quem pensa como você e decida seu voto!</strong></h5>
            <br />
            <p><a href="/prioridades" class="waves-effect waves-light btn"><font color="#57455c"> <strong>Iniciar</strong></font></a></p>
        </div>
	</div>
</div>
    