<div class="container perfil-candidato">
  <div class="col s12">
      <h1>Perfil do Candidato</h1>
  </div>
  <div class="dados-candidato">
	  <div class="col s12 m12">
			<div class="card">
			  <div class="card-panel large">
			  <div class="card-content row">
          <div class="col m2">
            <img src="http://placehold.it/150x150" alt="">
          </div>
          <div class="col m10">
            <span class="card-title activator grey-text text-darken-4">
  			  		Nome do Candidato
  			  	</span>
  			  	<p>Partido</p>
  			  	<p>Numero do Candidato</p>
  			  	<p>Descrição</p>
          </div>
			  </div>
			  </div>
			</div>
	  </div>
  </div>
  <div class="respostas-candidato">
  	<h2>Respostas</h2>

    <div class="perguntasErespostas" ng-repeat="resposta in respostas">
       <p class="pergunta"><strong>{{perguntas[resposta.perguntaId].pergunta}}</strong></p>
       <p class="pergunta" ng-if="perguntas[resposta.perguntaId].pergunta">{{possiveisRespostas[resposta.resposta]}}</p>
    </div>
  </div>
  <a href="/login" class="btn">Voltar</a>
</div>
