.comofunciona{
	height: 100%;
	h2 {margin-top: 0;}
	.col {padding: 0;}
	.row {margin: 0; width: 100%; height: 100%;}
}

.fp {
    background-image: url('../img/fundopadrao.png');
    color: white;
    background-size: cover;
    height: 100%;
	padding: 2% 0 11% 0 !important;
	.col {
		margin: 2% 0;
	}
}

@media only screen and (max-width : 600px) {
	.paddingRowSmall{
		margin-bottom: 100px;
	}
}