footer {
	display: block;
	height: 105px;
	padding: 0 30px 5px;
	width: 100%;
	position: relative;
	top: 10px;
    z-index: 2;
	.row { 
		margin-bottom: 0; 
		right: 0 !important;
		.col {
			text-align: center;
		}
	}
	span{
		float: left;
		color: #fff;
		margin: 30px 15px 0 0;
	}
	.brand-logo{ float: left; }
}

.footer-links {
	margin: 10px auto;
    width: auto;
    display: block;
    float: right;

    .container {
    	padding: 0;
    }

	li { display: inline-block; }

	li a {
		float: left;
		padding: 0 10px;
	}

	li a {
		position: relative;
		width: 50px; 
		height: 28.87px;
		background-color: transparent;
		margin: 14.43px 5px;
		border-left: solid 2px #fff;
		border-right: solid 2px #fff;
		float: left;
		padding: 0 10px;
	}

	li a:before,
	li a:after {
		content: "";
		position: absolute;
		z-index: 1;
		width: 35.36px;
		height: 35.36px;
		-webkit-transform: scaleY(0.5774) rotate(-45deg);
		-ms-transform: scaleY(0.5774) rotate(-45deg);
		transform: scaleY(0.5774) rotate(-45deg);
		background-color: inherit;
		left: 5.3223px;
	}

	li a:before {
		top: -17.6777px;
		border-top: solid 2.8284px #fff;
		border-right: solid 2.8284px #fff;
	}

	li a:after {
		bottom: -17.6777px;
		border-bottom: solid 2.8284px #fff;
		border-left: solid 2.8284px #fff;
	}
}

@media only screen and (max-width : 770px) {
	footer{
		height: 180px;
		span {display: none;}
		ul {top: 15px; left: 10px;}
		.brand-logo{ float: none; }
		.footer-links{ float: none; width: 100%; }
		.row {
		    margin-bottom: 0;
		    position: relative;
		    right: 10px;
		}
	}
}