.disclaimer{
    font-size: 10px;
    line-height: 11px;
    display: block;
    color: #fff;
    max-width: 300px;
}
.btn-doe{
    color: #57455c;
    max-width: 180px;
}

.flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer-item {
    flex: 1 1 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.social-link {
    border-right: solid 2px #fff;
    border-left: solid 2px #fff;
    background-color: transparent;
    position: relative;
    width: 50px;
    height: 28.87px;
    margin: 0 5px;
    display: inline-block;
    
    &:before,
    &:after
    {
        position: absolute;
        z-index: 1;
        left: 5.3223px;

        width: 35.36px;
        height: 35.36px;

        content: '';
        -webkit-transform: scaleY(.5774) rotate(-45deg);
            -ms-transform: scaleY(.5774) rotate(-45deg);
                transform: scaleY(.5774) rotate(-45deg);

        background-color: inherit;
    }

     &:before
    {
        top: -17.6777px;

        border-top: solid 2.8284px #fff;
        border-right: solid 2.8284px #fff;
    }
    
    &:after
    {
        bottom: -17.6777px;

        border-bottom: solid 2.8284px #fff;
        border-left: solid 2.8284px #fff;
    }
}

@media only screen and (min-width : 885px) {
    .flex-footer {
        display: flex;
        flex-direction: row;
    }
    .footer-item {
        flex: initial;
    }
}
