.home{
	height: 100%;
	h2 {margin-top: 0;}
	.col {padding: 0;}
	.row {margin: 0; width: 100%; height: 100%;}
	.bg{
	    background-image: url('../img/home-bg.jpg');
    	color: white;
    	background-size: cover;
    	background-repeat: no-repeat;
    	padding: 15% 0;
    	height: 100%;
	}
}

main, .bg{
	height: 90%;
}

.page-content{
	height: 100%;
	&:after{
		display: none;
	}
}

@media only screen and (max-width : 600px) {
	.home{
		.bg { padding: 50% 0;}
		h2 { font-size: 2em;}
		h5 {
	    	font-size: 1.2em;
    		line-height: 1.2em;
    		padding: 0 10px;
		}
	}
}