.home{
	h2 {margin-top: 0;}
	.col {padding: 0;}
	.row {margin: 0; width: 100%;}
	.bg{
	    background-image: url('../img/home-bg.jpg');
    	color: white;
    	background-size: cover;
    	background-repeat: no-repeat;
    	padding: 13% 0;
	}
}