html,
body
{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    position: relative;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul,
ol
{
    list-style: none;
}

a
{
    &:hover
    {
        text-decoration: underline;
    }
}

label
{
    line-height: 1.8;

    display: block;
}

input[type='radio'] + label,
input[type='checkbox'] + label
{
    display: inline-block;

    margin: 0 5px;
}

form button[type='submit']
{
    margin-top: 1em;
}

.list-inline
{
    display: inline-block;

    padding-left: 0;

    list-style: none;
}

.list-inline > li
{
    display: inline-block;

    padding: 0 5px;
}

.text-success
{
    color: #29b35b;
}

.text-danger
{
    color: #b61b17;
}

.text-info
{
    color: #31708f;
}

.avatar
{
    width: 30px;
    height: 30px;
    margin-right: 5px;

    vertical-align: middle;

    border-radius: 50%;
}

input.invalid + label,
input.invalid + label:focus
{
    color: #f44336 !important;
}

object
{
    position: absolute;
}

.paddingRow
{
    margin-bottom: 120px;
}

.time div
{
    text-align: center;
    &.left-align
    {
        margin: 0 !important;
    }
}

@media only screen and (max-width : 770px)
{
    .time
    {
        padding: 0;
        .col
        {
            width: 50% !important;
        }
    }
}

nav ul a:hover
{
    text-decoration: none;
}
